/* Box Model Hack */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
	--clr-primary: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
	--clr-secondary: hsl(0, 100%, 66%);

	--clr-neutral-900: hsl(278, 68%, 11%);
	--clr-neutral-600: hsl(279, 6%, 55%);
	--clr-neutral-300: hsl(270, 3%, 87%);
	--clr-neutral-100: hsl(0, 0%, 100%);

	--ff-accent: "Space Grotesk", serif;

	--fw-regular: 500;
	--fw-light: 400;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
	width: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

.attribution {
	position: fixed;
	bottom: 10px;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

body {
	background-color: var(--clr-neutral-300);
	font-family: var(--ff-accent);
	font-weight: var(--fw-regular);
	font-size: 18px;
}

.side-pane {
	height: 250px;
	width: 100%;
	background-image: url("./images/bg-main-mobile.png");
	background-size: cover;
	color: var(--clr-neutral-100);
	display: grid;
	margin-bottom: 5rem;
	justify-content: center;
	align-items: center;
	font-weight: var(--fw-light);
}

.card-back {
	width: 80vw;
	max-width: 280px;
	height: 150px;
	transform: translate(10%, 20%);
	background-image: url("./images/bg-card-back.png");
	background-size: contain;
	background-repeat: no-repeat;
	font-size: 0.7rem;
	text-align: right;
}

.card-front {
	width: 80vw;
	max-width: 280px;
	height: 150px;
	transform: translate(-10%, -10%);
	background-image: url("./images/bg-card-front.png");
	background-size: contain;
	background-repeat: no-repeat;
	text-align: right;
	z-index: 99;
}

#display-CVC {
	display: inline-block;
	margin: 23.5% 14%;
}

#display-number {
	position: absolute;
	top: 48%;
	left: 30px;
	font-size: 1.3rem;
}

#display-name {
	position: absolute;
	bottom: 12%;
	left: 5%;
	font-size: 0.7rem;
}

#display-date {
	position: absolute;
	bottom: 12%;
	left: 75%;
	font-size: 0.7rem;
}

#display-logo {
	width: 45px;
	margin: 15px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 0px 8%;
}

.expiry-date-group {
	display: flex;
	justify-content: space-between;
	gap: 1%;
}

.date-input {
	display: flex;
	flex-direction: row;
	/* flex-wrap: nowrap; */
	gap: 5%;
}

.date-input > input {
	width: 45%;
}

.input-half {
	width: 48%;
}

.input {
	display: flex;
	flex-direction: column;
}

input {
	padding: 0.2rem 0.5rem;
	border: 2px solid hsl(279, 6%, 55%, 0.3);
	border-radius: 5px;
	background-color: var(--clr-neutral-300);
}

.button {
	padding: 5px 20px;
	border: 0cm solid;
	border-radius: 5px;
	background-color: var(--clr-neutral-900);
	color: var(--clr-neutral-100);
}

.completed {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1rem;
}

.completed-image {
	max-width: 5rem;
}

.completed > button {
	width: 90%;
	max-width: 20rem;
}

.container {
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 700px) {
	main {
		display: flex;
	}

	.side-pane {
		display: fixed;
		width: 35vw;
		height: 105vh;
		margin: 0;
	}
	.card-back {
		transform: translate(10vw, 180%);
		background-image: url("./images/bg-card-back.png");
		background-size: contain;
		background-repeat: no-repeat;
		font-size: 0.7rem;
		text-align: right;
	}

	.card-front {
		width: 80vw;
		max-width: 280px;
		height: 150px;
		transform: translate(5vw, -180%);
		background-image: url("./images/bg-card-front.png");
		background-size: contain;
		background-repeat: no-repeat;
		text-align: right;
		z-index: 99;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 65vw;
	}
	form {
		width: 80%;
		max-width: 600px;
	}
}

.hidden {
	display: none;
}
